<html>
    <head>
      <style>
      html {
              height: 100%;
            }
      body {
              margin: 0;
              padding: 0;
              font-family: sans-serif;
              background: linear-gradient(#141e30, #243b55);
              }
     #projects{
  width: 400px;
  margin-top:100px;
  background: white;
  border-radius: 10px;
  padding:5px 10px; 
   box-shadow: 10px 10px 5px lightblue;
          border-radius: 10px;
 }          
     </style>
    </head>
      <body>
     
    
          <div class="container">

           <div id="projects" class="">
        <h1>Todo</h1>
        

        <%= form_with(model: @prtd) do |form| %>
            <%= form.text_area :description, class: "form-control" %>

            <%= form.text_field :project_id, type: :hidden %>

            <%= form.submit class: "btn btn-primary my-2" %>
            
        <% end %>
<%= link_to "Back", project_path(@project)%>

        <div id="prtds">
          <% @prtds.each do |prtd| %>
          <p>
          <%= prtd.description %>
          </p>
            <% if prtd.id %>
              <%= link_to "Delete", prtd, "data-turbo-method": :delete, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
   </body>  
</html>



